.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(136, 196, 136, 0.9);
    padding: 0 20px;
    height: 80px;
    margin: 25px auto;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35); 
    width: 90%;
}

.logo {
    width: 100px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navList {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
}

.navList > li > a {
    font-size: 1.2rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transform: 0.3s;
    background-color: rgb(47, 103, 47);
    padding: 10px;
    border-radius: 10px;
}

.navList > li > button {
    font-size: 1.2rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transform: 0.3s;
    background-color: rgb(226, 133, 133);
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.navList > li > a:hover,
.navList > li > button:hover {
    opacity: 0.7;
}

@media (max-width: 768px) {
    .header {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 10px;
    gap: 10px;
    }

    .logo {
        width: 80px;
    }

    .navList {
        flex-direction: column;
        gap: 10px;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .navList > li > a,
    .navList > li > button {
        width: 100%;
        text-align: center;
        font-size: 1rem;
    }
}
