body {
    min-height: 100vh;
    background: url('./assets/wmremove-transformed.jpeg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}
